.man__img{
  width: 270px;
  height: 260px;
}
.about{
  @media screen and (min-width: 1200px){
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 94px;
      visibility: visible;
      height: 385px;
  }
  width: 0;
  height: 0;
  visibility: hidden;
}
.input__container{
  display: flex;
  align-items: center;
}
.blue__text{ 
  padding: 28px 0;
  color: #188CE8;
  border-bottom: #188CE8 solid;
}
.blue__window{ 
  width: 100%;
}