.menu__svg{
width: 40px;
height: 40px;
display: inline-block;
@media screen and (min-width: 1200px) {
    display: none;
}
}
.menu__button{
    background-color: transparent;
    border: none;
}
.burger--open{
    background-color: transparent;
    display: block;
    border: none;
    margin-left: auto;
    padding: 0 15px;
    @media screen and (min-width: 374px) {
    display: none;
  }
  @media screen and (min-width: 1200px){
    display: none;
  }
}
.burger__menu {
    padding: 48px 40px;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 1000;
    top: 0;
    left: 0;
}
.burger--close {

opacity: 1;

    position: relative;
    text-align: right;
    width: 100%;
    background-color: transparent;
    border: none;
    height: 25px;
}
.burger__item{
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 25px;
}
.burger__link{
  color: black;
}
.burger__list{
    margin-bottom: 300px;
}
.is-hidden{
    display: none;
}
.blue{
    color: #2196F3;
}
.burger__web__item {
    margin-bottom: 32px;
}
.burger__web__link {
   font-weight: 500;
   font-size: 34px;
   line-height: 100%;
   letter-spacing: 2%;
}
.burger__web__link2{
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   letter-spacing: 2%;
   color: #757575;
}
.burger__nav__list--contact {
    display: flex;
    justify-content: left;
}
.burger__nav__item--contact {
    margin-top: 30px;
    border-right: 1px #21212133 solid;
    border-left: 1px #21212133 solid;
    padding: 0 10px;
    color: #2196F3;
}
.burger__nav__link--contact {
    color: #2196F3;
}