.hero{
&__title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
&__btn {
  margin-top: 30px;
  align-items: center;
  padding: 10px 32px;
  width: 216px;
  height: 50px;
  background-color: #2196F3;
  color: white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 6%;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
}
}