.img{
&__title{
  @include text("Roboto", 36px);
  margin-bottom: 50px;
  text-align: center;
}
&__plan{
  position: relative;
}
&__h3{
  background-color: #2F303ACC;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 3px;
  width: 100%;
  color: #FFFFFF;
}
}