.info{
&__logo{
  @include text("Releway", 26px);
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  color: #ffff;
}
&__logo span{
  color: #2196F3;
}
&__list{
  margin-bottom: 60px;
  line-height: 39px;
  @media screen and (min-width: 1200px){
    line-height: 39px;
  }
}
&__text{
  color: #FFFFFF;
}
&__item{
  color: #FFFFFF99;
}
}