.portfolio{
  &__btn__list {
  flex-wrap: wrap;
  justify-content:left;
  align-items: center;
  display: flex;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px){
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8px;
    margin-top: 94px;
    margin-bottom: 50px;
  }

}
&__btn{
  @include text("Roboto", 16px);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 3%;
  text-align: center;
  padding: 6px 25px;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;

  &:hover{
  color: #FFFFFF;
  background-color: #2196F3;
}
}
}
.blue__window{
  position: absolute;
  padding: 63px 24px;
  position: absolute;
  background-color: #2196F3E5;
  width: 370px;
  height: 294px;
  transform: translateY(130%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  opacity: 0;

  &__text{
  color: white;
  width: 322px;
 font-weight: 400;
 font-size: 18px;
 line-height: 28px;
 letter-spacing: 3%;
}
}