.services{
  color: white;
  @include text("Roboto", 44px);
  text-align: center;
  letter-spacing: 6%;
  padding: 250px 0;
  background-image: url(/img/HeroMobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 400px;
  text-align: center;
  padding: 0px;
  align-items: center;
  padding-top: 118px;
  @media screen and (min-width: 1200px){
    padding: 250px 0;
    background-image: url(/img/Header.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    text-align: center;
    align-items: center;
  }

  &__button{
  width: 200;
  height: 50;
  opacity: 1;
  top: 292px;
  left: 140px;
  border-radius: 4px;

  @media screen and (min-width: 1200px){
    background-color: #2196F3;
    border-radius: 4px;
    border: 0px;
    padding: 10px 32px;
    color: #f5f4fa;
  }
  }
}

.hero__title{
  font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    margin-left: 60px;
    margin-right: 60px;
}