.team{
  margin: 0px;
  @extend %flex;
  width: 100%;
  background-color: #F5F4FA;

  &__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;

  margin-top: 94px;
  margin-bottom: 50px;
}
&__Igor{
  margin-bottom: 30px;
  width: 100%;
  background-color: white;
@media screen and (min-width: 1200px){
    width: 270px;
  height: 428px;
  background-image: url(./img/img.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 450px;
  margin-bottom: 202px;

  box-shadow: 0px 2px 1px 0px #00000033;

box-shadow: 0px 1px 1px 0px #00000024;

box-shadow: 0px 1px 3px 0px #0000001F;
  }

}
&__logo__link{

  display: inline-block;
  padding: 12px;
  fill: #AFB1B8;
  border-radius: 50%;
}
&__logo__list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  @media screen and (min-width: 1200px){
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  }
}
&__logo__link svg{
  width: 20px;
  height: 20px;
}
&__logo__link:hover{
  background-color: #2196F3;
  fill: #FFFFFF;
}

&__Olga{
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px){
  width: 270px;
  height: 428px;
  background-image: url(./img/img\ \(1\).jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 270px;
  margin-bottom: 202px;

  box-shadow: 0px 2px 1px 0px #00000033;

box-shadow: 0px 1px 1px 0px #00000024;

box-shadow: 0px 1px 3px 0px #0000001F;
  }

}
&__Mycola{
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px){
  width: 270px;
  height: 428px;
  background-image: url(./img/img\ \(2\).jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 270px;
  margin-bottom: 202px;

  box-shadow: 0px 2px 1px 0px #00000033;

box-shadow: 0px 1px 1px 0px #00000024;

box-shadow: 0px 1px 3px 0px #0000001F;
  }

}
&__Myhaylo{
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px){
  width: 270px;
  height: 428px;
  background-image: url(./img/img\ \(3\).jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 270px;
  margin-bottom: 202px;

  box-shadow: 0px 2px 1px 0px #00000033;

box-shadow: 0px 1px 1px 0px #00000024;

box-shadow: 0px 1px 3px 0px #0000001F;
  }

}  
&__list{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 1200px){
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
}
.man__img{
  width: 100%;
  height: 460px;
  @media screen and (min-width: 1200px){
  width: 270;
  height: 260px;
  }
}