.header{
  background-color: #fff;
  border-bottom:solid 1px #757575;  
  &__svg{
  width: 16px;
  height: 16px;
  fill: #757575;
}
&__container{
  @extend %flex;
}
&__nav{
  display: none;
  @media screen and (min-width: 1200px){
    display: flex;
  align-items: center;
  gap: 50px;
  
   }
}
&__link{
  padding: 32px 0px;
  @include text("Roboto", 14px);
  color: #212121;
  font-weight: 500;
 line-height: 100%;
letter-spacing: 2%;
}
&__link:hover{
  color: #2196F3;
  fill: #2196F3;
  color: #188CE8;
  border-bottom: #188CE8 solid;
  padding: 28px 0;
}
&__web__link{
  display: flex;
  align-items: center;
  color: #757575;
  @include text("Roboto", 14px);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2%;
  fill: #757575;
}
&__web__link:hover{
  fill: #2196F3;
  color: #2196F3;
}
}
.web__list {
  @media screen and (min-width: 1200px){
    display: flex;
    align-items: center;
    gap: 50px;
   }
   display: none;
   height: 60px;
}
.web__link:hover{
  color: #2196F3;
  fill: #2196F3;
  color: #188CE8;
  border-bottom: #188CE8 solid;
  padding: 28px 0;
}
.web__link:hover svg{
  fill: #2196F3;
}