.modal {
  padding: 0px 40px;
    width: 450px;
    height: 609;
    background-color: white;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, 50%);
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 9999;
    transition: opacity 400ms ease-in-out;
    @media screen and (min-width: 1200px){
    padding: 0px 40px;
    width: 528px;
    height: 581px;
    background-color: white;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, 50%);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 9999;
    transition: opacity 400ms ease-in-out;
    }
  &__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 2px;
}
&__close__svg{
  background-color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
&__svg{
  margin: 11px 12px;
  position: absolute;
  width: 12px;
  height: 12px;
}
&__user{
  border-color: #21212133;
  box-shadow: 0px;
  width: 448px;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 1px;
}
&__text{
  @include text("Roboto", 12px);
 font-weight: 400;
 line-height: 100%;
 letter-spacing: 1%; 
 color: #AFB1B8;
}
&__link{
  margin-top: 12px;
}
&__comment{
  border-color: #21212133;
  box-shadow: 0px;
  width: 370px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1%;
  padding: 12px 16px;
  border: 1px solid #21212133;
  border-radius: 1px;
  @media screen and (min-width: 1200px){
  border-color: #21212133;
  box-shadow: 0px;
  width: 448px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1%;
  padding: 12px 16px;
  border: 1px solid #21212133;
  border-radius: 1px;
  }

}
&__user:hover{
  border-color: #2196F3;
  fill: #2196F3;
}
&__comment:hover{ 
  border-color: #2196F3;
  fill: #2196F3;
  box-shadow: 0px;
}
&__check {
  width: 16px;
  height: 16px;
}
&__href{
  text-decoration: underline;
  color: #2196F3;
}
&__last{
  @extend %flex;
  gap: 7px;
  margin-top: 20px;
}
&__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  letter-spacing: 6%;
  opacity: 1;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #188CE8;
  color: white; 
  border-color: #188CE8;
  box-shadow: 0px 4px 4px 0px #00000026;
  margin: 30px 124px;
}
}
.input__container:hover{
  border-color: #2196F3;
  fill: #2196F3;
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.no-scroll{
  opacity: 0;
}
.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background-color: #00000033;
  opacity: 1;
  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}
.batton__close{
  margin-top: 8px;
  margin-left: 370px;
  background-color: white;
  border-color: #0000001A;
  border-radius: 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.batton__close:hover{
  fill: #2196F3;
}